headers:
  all:
    request:
      - propagate:
          named: "x-user-id"
cors:
  allow_any_origin: true
include_subgraph_errors:
  all: true
rhai:
  scripts: "./router-config/scripts"
  main: "main.rhai"
sandbox:
  enabled: true
homepage:
  enabled: false
supergraph:
  introspection: true
